body {
  width: 100vw;
  height: 100%;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 575px) {
  .card-thumbnail {
    width: 99%;
  }
}

@media screen and (min-width: 576px) {
  .card-thumbnail {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .card-thumbnail {
    width: 32%;
  }
}

@media screen and (min-width: 992px) {
  .card-thumbnail {
    width: 24% !important;
  }
}

/* apparently we'll do have to use some media queries to resolve responsivity issues... */

/* colors */

.c-black {
  background-color: #181818 !important;
}

.c-coffee {
  background-color: #271700 !important;
}

.c-accent {
  background-color: #FCA311 !important;
}

.c-shade {
  background-color: #e5e5e5;
}

.c-danger {
  background-color: #d8350c !important;
}

.border-accent {
  border-color: #FCA311 !important;
}

.border-coffee {
  border-color: #271700 !important;
}


/* colors */

.fa-mug-hot {
  font-size: 30px;
}

.upper-text {
  margin-top: 50px;
  border: 1px solid black;
}

.contact-form {
  margin-top: 50px;
  border: 1px solid black;
}

.contact-text {
  margin-top: 65px;
}

.suscribe-box {
  border: 1px solid black;
}

.suscribe {
  width: 60%;
}

.product-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(248, 249, 250, 0.7);
}

.thumbnail {
  max-width: 50px;
  height: 50px;
}

.filter-sidebar {
  height: 20%;
}

/*  vvv this section is for overwriting bootstrap classes vvv */

.border-2 {
  border-width: 2px !important;
}

.thead-dark {
  background-color: #271700 !important;
}

.productDetailsBtn {
  max-width: 230px;
}

.animate__fadeIn {
  background-color: rgba(0, 0, 0, 0.5);
}

.animate__fadeOut {
  background-color: rgba(0, 0, 0, 0.5);
}

.collapse {
  display: flex;
  justify-content: space-between;
}

.test {
  background-color: black;
  width: 50px;
}

.sum {
  font-size: 15px;
}

.inputCart {
  width: 50px;
  height: 27px;
}

.addCart {
  height: 27px;
}
