body {
  width: 100vw;
  height: 100%;
}

html {
  font-size: 0.7rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

.fa-mug-hot {
  font-size: 30px;
} 

.custom-select {
  width: 5%;
}

